/* базовая стилизация для страницы eyes */
.specialist-eyes {
    height: 300px;
}

.text-story-eyes {
    height: 350px;
}

.text-story-columns-eyes {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-left: 62px;
    width: 610px;
}

.text-story-columns__text {
    height: 310px;
}

.text-story-center-eyes__text {
    float: right;
    margin-top: 40px;
}

.text-story-article-eyes {
    width: 630px;
    height: 55px;
    margin-bottom: 40px;
    margin-left: 60px;

}

.text-story-columns__text-eyes {
    width: 320px;
    height: 310px;
}

.text-story__text-eyes {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    width: 298px;
}

.text-story-eyes {
    display: flex;
    justify-content: flex-end;
    height: 293px;

}


